
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --primary: rgb(255, 253, 251);
    --bg: rgb(21, 107, 13);
    --pink: rgb(0, 0, 0);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: var(--primary);
    min-height: 2000px;
    background-image: url(images/bc.png)
      
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 8%;
    background: #144507;
    background-color: #144507;
    border-bottom: 1px solid #f3e9e9;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo img {
    width: 100px;
}

.navbar .navbar-logo h3 {
    margin-left: 1000px;
    font-weight: 500;
}

.navbar .navbar-nav a {
    color: var(--primary);
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
    padding: 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navdrop {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
}
.navdrop a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  text-align: left; 
  margin-right: 0;
}

/*marquee*/
marquee {
    height: 40px;
    width: 100%;
    color:  rgb(20, 83, 20);
    border: 1px solid rgb(20, 83, 20);
    font-size: 150%;
  }
/*Gambar*/
  .media img {
    display: block;
    margin: 0 auto;
    width: 460px;
    height: 360px;
    margin-bottom: 50px;
  }     

/* Dropdown */
.dropdown {
    display: none;
    position: absolute;
    background-color: var(--bg);
    min-width: 200px;
    z-index: 1;
}


.navdrop:hover .dropdown {
    display: block;
}

#judul {
  background-color: rgb(0, 60, 13);
  color: rgb(255, 246, 216);
  font-size: 20px;
  text-align: center;
  padding: 15px;
  margin-bottom: 50px;
  border-bottom: 5px dotted ghostwhite;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: var(--primary);
  min-height: 2000px;
  background-color: whitesmoke;
  background: url(bc.png);

}



#video {
  display: block;
  margin: 0 auto;
  width: 560px;
  height: 460px;
}

h1{
  font-size: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:rgb(223, 192, 15);
  color: #144507;

}

#class {
  display: block;
  margin: 0 auto;
  width: 460px;
  height: 360px;
  margin-bottom: 50px;
}
h2{

font-size: 25px;
align-items: center;
justify-content: center;
text-align: center;
color: rgb(175, 181, 0);

}

.class{
  width: 360px;
  height: 200px;
  display: block;
  margin: 0 auto;   
}
.video {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 360px;
  align-items: center;
}

/* Artikel */
.program{
    padding: 20px 70px;
}

.coba {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.program-img{
    flex: 1 1 21rem;
}
.program-text{
    flex: 1 1 21rem;
}
.program-text h3{
    font-size: 1.2rem;
    color: black;
}
.program-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
    color: black;
}

.coba1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.program-img1{
    flex: 1 1 21rem;
}
.program-text1{
    flex: 1 1 21rem;
    color: black;
}
.program-text1 h3{
    font-size: 1.2rem;
    color: black;
}
.program-text1 p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
    color: black;
}

.btn{
    padding: 7px 16px;
    border: 2px solid black;
    border-radius: 40px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}
.btn:hover{
    color: #fff;
    background: black;
}

.coba2 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.program-img2{
    flex: 1 1 21rem;
}
.program-text2{
    flex: 1 1 21rem;
    color: black;
}
.program-text2 h3{
    font-size: 1.2rem;
    color: black;
}
.program-text2 p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
    color: black;
}

.btn{
    padding: 7px 16px;
    border: 2px solid black;
    border-radius: 40px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}
.btn:hover{
    color: #fff;
    background: black;
}

.coba3 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.program-img3{
    flex: 1 1 21rem;
}
.program-text3{
    flex: 1 1 21rem;
    color: black;
}
.program-text3 h3{
    font-size: 1.2rem;
    color: black;
}
.program-text3 p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
    color: black;
}

.btn{
    padding: 7px 16px;
    border: 2px solid black;
    border-radius: 40px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}
.btn:hover{
    color: #fff;
    background: black;
}

.coba4 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.program-img4{
    flex: 1 1 21rem;
}
.program-text4{
    flex: 1 1 21rem;
    color: black;
}
.program-text4 h3{
    font-size: 1.2rem;
    color: black;
}
.program-text4 p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
    color: black;
}

.btn{
    padding: 7px 16px;
    border: 2px solid black;
    border-radius: 40px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}
.btn:hover{
    color: #fff;
    background: black;
}

.form {
    padding: 20px;
    background-color: rgb(255, 183, 0);
    color: aliceblue;
    border: 3px solid rgb(231, 16, 16);
  }
  
/* footer */
.footer{
font-size: 25px;
align-items: center;
justify-content: center;
text-align: center;
background-color:rgb(255, 254, 248);
color: #144507;

}

/*CSS Icon */
.footer p {
color: #144507;
font-size: 16px;
letter-spacing: 3px;
}

